{{ define "nav_bar" }}

<a href="#"> This is a link</a><br>
<a href="#"> This is a link</a><br>
<a href="#"> This is a link</a><br>
<a href="#"> This is a link</a><br>
<a href="#"> This is a link</a><br>


{{ end }}